/* General body styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
  background-size: cover;
  background-position: center;
  /* Add background image */
  background-image: url('./images/conbg.jpg');
}

/* Styling for the main content area */
.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  padding-top: 50px; /* Ensure content doesn't overlap with navbar */
  padding-bottom: 50px; /* Ensure content doesn't overlap with footer */
}

/* Styling for the main heading */
h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #333;
  animation: fadeInUp 1s ease-out;
}

/* Root styling for FilePond */
.filepond--root {
  margin-top: 20px;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the convert button */
.convert-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.convert-button:hover {
  background-color: #0056b3;
}

.convert-button.uploaded {
  font-weight: bold; /* Example of changing font-weight */
  /* Add other styles as needed */
}

/* Animation keyframes */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling for Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #e0f7fa;
  padding: 10px 20px;
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure it's above other content */
}

/* Styling for navigation links */
.navbar a {
  text-decoration: none;
  color: #007bff;
  margin: 0 10px;
  font-size: 18px;
}

/* Styling for navigation links on hover */
.navbar a:hover {
  color: #0056b3;
}

/* Styling for Footer */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e0f7fa;
  color: #007bff;
  padding: 10px 0;
  text-align: center;
  font-family: 'Arial', sans-serif;
  z-index: 1000; /* Ensure it's above other content */
}
